body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="text"] {
  width: 100%; /* Full width within the container */
  padding: 10px;
  font-size: 1em;
  border: 2px solid #1e90ff; /* Blue border to match the theme */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  outline: none; /* Remove default outline */
  transition: border-color 0.3s ease; /* Smooth transition for border color change */
}

input[type="text"]::placeholder {
  color: #a9a9a9; /* Light gray color for placeholder text */
}

input[type="text"]:focus {
  border-color: #4682b4; /* Darker blue border color on focus */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2); /* Subtle shadow effect on focus */
}

input[type="text"]:disabled {
  background-color: #e0e0e0;
}

.container {
  text-align: center;
  background-color: #ffffff; /* White background for content */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
  width: 300px; /* Set a fixed width for the container */
}

h1 {
  font-size: 2em;
  margin: 0;
  color: #1e90ff; /* Bright color for the heading */
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #4682b4; /* Slightly darker color for subheadings */
}

p {
  font-size: 1em;
  margin: 10px 0;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

button {
  background-color: #1e90ff; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4682b4; /* Darker button color on hover */
}

.error {
  color: #ff6347; /* Error text color */
}

.loading {
  font-size: 1.2em;
  color: #1e90ff; /* Loading text color */
}
